<!-- Footer -->
<footer class="pt-5 mt-10 position-relative">
  <div class="container-lg">
    <div class="row mb-4 mx-2 mx-lg-3 mx-lg-0">
      <div class="col-12 col-sm-6 col-lg-4">
        <h4 class="font-black my-4 text-white">ูููููฺฉ ููุง ุณูุฑูุน</h4>
        <ul class="ps-0">
          <li class="my-3 ms-3 text-light position-relative">ูุจุณุงุช ุดุงุฏ</li>
          <li class="my-3 ms-3 text-light position-relative">ุฏุงูููุฏ ูุณุชูู ุดุงุฏ</li>
          <li class="my-3 ms-3 text-light position-relative">ุฏุณุชุฑุณ ุจู ฺฉุงุฑูุงูู ูุง</li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <h4 class="font-black my-4 text-white">ุชูููุงุณ ุจูุง ููุง</h4>
        <ul class="ps-0">
          <li class="my-3 ms-3 text-light position-relative">ุดูุงุฑู ุชููู: 09170000000</li>
          <li class="my-3 ms-3 text-light position-relative">ุงูู: vivi_sen@yahoo.com</li>
          <li class="my-3 ms-3 text-light position-relative">ุดูุงุฑู ููุจุงู: 09170000000</li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <h4 class="font-black my-4 text-white">ุฏุณูุชูุฑุณู ุณูุฑูุน</h4>
        <ul class="ps-0">
          <li class="my-3 ms-3 text-light position-relative"><a href="/blogs" class="text-white text-decoration-none">ูุจูุงฺฏ</a></li>
          <li class="my-3 ms-3 text-light position-relative"><a href="/about" class="text-white text-decoration-none">ุฏุฑุจุงุฑู ูุง</a></li>
        </ul>
      </div>
    </div>
    <div class="border-top border-light pt-3 pb-2">
      <p class="text-center text-light">
        ุชูุงู ุญููู ุงู ูุจุณุงุช ุจุฑุง ุดุฎุต <a href="https://t.me/vivisen" class="font-black text-white">ุนูุฑุถุง ุฏุฑูุด</a> ูุญููุธ ุงุณุช ู ูุฑฺฏููู ฺฉูพ ุจุฑุฏุงุฑ ู ุณูุกุงุณุชูุงุฏู ูพฺฏุฑุฏ ูุงููู ุฏุงุฑุฏ ู ุดูุง ุฏูุณุช ุนุฒุฒ ููุฑุฏ ุถุฑุจ ู ุดุชู ูุฒฺฉ ุงุฒ ุณูุช ุงูุฌุงูุจ ูุฑุงุฑ ูฺฏุฑุฏ.
      </p>
      <p class="text-center text-light">
        ุทุฑุงุญ ู ุชูุณุนู ุจุง ๐งก ู โ ุชูุณุท
        <a href="https://t.me/vivisen" class="text-white font-bold">ุนููููุฑุถูุง ุฏุฑููุดู ๐ค</a>
      </p>
    </div>
  </div>
</footer>
<!--/ Footer -->
