<!-- Footer -->
<footer class="pt-5 mt-10 position-relative">
  <div class="container-lg">
    <div class="row mb-4 mx-2 mx-lg-3 mx-lg-0">
      <div class="col-12 col-sm-6 col-lg-4">
        <h4 class="font-black my-4 text-white">ูููููฺฉ ููุง ุณูุฑูุน</h4>
        <ul class="ps-0">
          <li class="my-3 ms-3 text-light position-relative">ูุจุณุงุช ุดุงุฏ</li>
          <li class="my-3 ms-3 text-light position-relative">ุฏุงูููุฏ ูุณุชูู ุดุงุฏ</li>
          <li class="my-3 ms-3 text-light position-relative">ุฏุณุชุฑุณ ุจู ฺฉุงุฑูุงูู ูุง</li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <h4 class="font-black my-4 text-white">ุชูููุงุณ ุจูุง ููุง</h4>
        <ul class="ps-0">
          <li class="my-3 ms-3 text-light position-relative">ุดูุงุฑู ุชููู: 07138729482</li>
          <li class="my-3 ms-3 text-light position-relative">ุงูู: kharazmi@info.com</li>
          <li class="my-3 ms-3 text-light position-relative">ุดูุงุฑู ููุจุงู: 09337856295</li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <h4 class="font-black my-4 text-white">ุฏุณูุชูุฑุณู ุณูุฑูุน</h4>
        <ul class="ps-0">
          <li class="my-3 ms-3 text-light position-relative">ูุจูุงฺฏ ูุฏุฑุณู</li>
          <li class="my-3 ms-3 text-light position-relative">ุฏุฑุจุงุฑู ูุง</li>
        </ul>
      </div>
    </div>
    <div class="border-top border-light pt-3 pb-2">
      <p class="text-center text-light">
        ุชูุงู ุญููู ูุงุฏ ู ูุนูู ุงู ูุจุณุงุช ูุชุนูู ุจู ููุฑุณุชุงู ุฎูุงุฑุฒู ูุจุงุดุฏ ู ูุฑ ฺฏููู ฺฉูพ ุจุฑุฏุงุฑ ู ุณูุกุงุณุชูุงุฏู ูพฺฏุฑุฏ ูุงููู ุฏุงุฑุฏ.
      </p>
      <p class="text-center text-light">
        ุทุฑุงุญ ู ุชูุณุนู ุจุง ๐งก ู โ ุชูุณุท
        <a href="#" class="text-white font-bold text-decoration-none">ุนููููุฑุถูุง ุฏุฑููุดู ๐ค</a>
      </p>
    </div>
  </div>
</footer>
<!--/ Footer -->
