<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>وبلاگ خوارزمی</title>
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./bootstrap/css/bootstrap.rtl.min.css" />
        <title>تمامی مدرسان</title>
      </head>
      <body class="bg-light">
        <!-- Nav -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg position-fixed mx-2 rounded-3">
          <div class="container-fluid">
            <a class="navbar-brand mx-4" href="#">لوگو</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="index.html">صفحه اصلی</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="blog.html">بلاگ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#honors">افتخارات</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#masters">مدرسان</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">درباره ما</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact-us">تماس با ما</a>
                </li>
              </ul>
              <div class="ms-auto">
                <a href="/signup.html" class="btn btn-outline-success me-2">ثبت نام</a>
                <a href="/login.html" class="btn text-secondary me-4">ورود</a>
                <a href="tel:07138728292" class="btn btn-primary text-light"
                  >07138728292
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M15.1653 20.8835C16.0469 21.0388 16.9531 21.0388 17.8347 20.8835C19.2516 20.6338 20.3929 19.6826 20.786 18.4236L20.8694 18.1565C20.956 17.879 21 17.5919 21 17.3034C21 16.0313 19.8623 15 18.4589 15H14.5411C13.1377 15 12 16.0313 12 17.3034C12 17.5919 12.044 17.879 12.1306 18.1565L12.214 18.4236C12.6071 19.6826 13.7484 20.6338 15.1653 20.8835ZM15.1653 20.8835C9.04195 19.7489 4.25108 14.958 3.1165 8.83468M3.1165 8.83468C2.96117 7.95315 2.96117 7.04686 3.1165 6.16532C3.36618 4.74842 4.31744 3.60713 5.57641 3.21402L5.84345 3.13063C6.12103 3.04396 6.40813 3 6.69661 3C7.96874 3 9.00001 4.13768 9 5.54106L9 9.45894C9.00001 10.8623 7.96874 12 6.69661 12C6.40813 12 6.12103 11.956 5.84345 11.8694L5.57641 11.786C4.31744 11.3929 3.36618 10.2516 3.1165 8.83468Z"
                      stroke="#fff"
                      stroke-width="1.5"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </nav>
        <!--/ Nav -->
        <!-- Header -->
        <header class="teachers-header header-small">
          <h1 class="font-black text-white text-center">وبـلـاگ مـدرسـه</h1>
        </header>
        <!--/ Header -->

        <section class="mt-5 container-md">
          <div class="d-flex align-items-center justify-content-between mx-1">
            <h6 class="text-secondary font-bold mb-3">مقالات مدرسه <span class="font-regular">( 294 مقاله )</span></h6>
            <p class="text-secondary font-light">خانه / مقالات</p>
          </div>
        </section>

        <section class="blogs-nav container-md">
          <form action="#" class="shadow bg-white rounded-3 p-4 mx-1">
            <div class="d-flex align-items-center justify-content-between flex-wrap">
              <div class="d-flex align-items-center input-group mb-md-0 mb-3">
                <input type="text" class="form-control py-2" placeholder="دنبال چیز خاصی میگردی؟ سرچش کن!" />
                <button type="submit" class="btn btn-primary py-2">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M1 10.5C1 5.25332 5.25332 1 10.5 1C15.7467 1 20 5.25332 20 10.5C20 12.7631 19.2086 14.8414 17.8875 16.4733L21.5607 20.1464C21.9512 20.537 21.9512 21.1701 21.5607 21.5607C21.1701 21.9512 20.537 21.9512 20.1464 21.5607L16.4733 17.8875C14.8414 19.2086 12.7631 20 10.5 20C5.25332 20 1 15.7467 1 10.5ZM10.5 3C6.35788 3 3 6.35788 3 10.5C3 14.6421 6.35788 18 10.5 18C14.6421 18 18 14.6421 18 10.5C18 6.35788 14.6421 3 10.5 3ZM6.96447 6.46442C7.86823 5.56072 9.11959 5 10.5 5C11.8804 5 13.1318 5.56072 14.0355 6.46444C14.426 6.85497 14.426 7.48813 14.0355 7.87866C13.645 8.26918 13.0118 8.26918 12.6213 7.87866C12.0773 7.33468 11.3287 7 10.5 7C9.67131 7 8.92267 7.33468 8.37863 7.87868C7.98809 8.26919 7.35493 8.26917 6.96442 7.87863C6.57391 7.48809 6.57393 6.85493 6.96447 6.46442Z"
                      fill="#fff"
                    />
                  </svg>
                </button>
              </div>
              <select class="form-select text-secondary font-light py-2">
                <option value="">مرتب سازی بر اساس</option>
              </select>
            </div>
          </form>
        </section>

        <!-- School blog -->
        <section class="blogs-area py-5 mb-5">
          <div class="container-md">
            <div class="row mt-5 blogs">
              <div class="col-12 col-sm-6 col-lg-4 px-3 my-3">
                <div class="card h-100 shadow-sm">
                  <div class="blog-img"><img src="./images/img-4.jpg" class="card-img-top p-2 rounded-8 fit-cover" alt="" /></div>
                  <div class="card-body pt-2 d-flex flex-column justify-content-between">
                    <div>
                      <h5 class="card-title font-black text-primary">تیتر بلاگ</h5>
                      <div class="d-flex align-content-center justify-content-between border-bottom pb-2 mb-2">
                        <span class="text-secondary font-light d-block pt-1"
                          ><svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24 0H0V24H24V0Z" />
                            <path
                              d="M22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2C17.52 2 22 6.48 22 12Z"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M15.71 15.18L12.61 13.33C12.07 13.01 11.63 12.24 11.63 11.61V7.51001"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                          23 اردیبهشت 1400</span
                        >
                        <span class="text-secondary font-light">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M12.16 10.87C12.06 10.86 11.94 10.86 11.83 10.87C9.45 10.79 7.56 8.84 7.56 6.44C7.56 3.99 9.54 2 12 2C14.45 2 16.44 3.99 16.44 6.44C16.43 8.84 14.54 10.79 12.16 10.87Z"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M7.16 14.56C4.74 16.18 4.74 18.82 7.16 20.43C9.91 22.27 14.42 22.27 17.17 20.43C19.59 18.81 19.59 16.17 17.17 14.56C14.43 12.73 9.92 12.73 7.16 14.56Z"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                          علیرضا درویشی
                        </span>
                      </div>
                    </div>
                    <p class="card-text font-light text-secondary text-justify mb-1">
                      دوره کالج یک کلاس است که توسط یک کالج یا دانشگاه ارائه می شود. این دوره ها معمولاً بخشی از برنامه ها
                    </p>
                    <a href="#" class="text-decoration-none d-block text-end my-2">ادامه خواندن...</a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4 px-3 my-3">
                <div class="card h-100 shadow-sm">
                  <div class="blog-img"><img src="./images/img.jpg" class="card-img-top p-2 rounded-8 fit-cover" alt="" /></div>
                  <div class="card-body pt-2 d-flex flex-column justify-content-between">
                    <div>
                      <h5 class="card-title font-black text-primary">تیتر بلاگ</h5>
                      <div class="d-flex align-content-center justify-content-between border-bottom pb-2 mb-2">
                        <span class="text-secondary font-light d-block pt-1"
                          ><svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24 0H0V24H24V0Z" />
                            <path
                              d="M22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2C17.52 2 22 6.48 22 12Z"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M15.71 15.18L12.61 13.33C12.07 13.01 11.63 12.24 11.63 11.61V7.51001"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                          23 اردیبهشت 1400</span
                        >
                        <span class="text-secondary font-light">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M12.16 10.87C12.06 10.86 11.94 10.86 11.83 10.87C9.45 10.79 7.56 8.84 7.56 6.44C7.56 3.99 9.54 2 12 2C14.45 2 16.44 3.99 16.44 6.44C16.43 8.84 14.54 10.79 12.16 10.87Z"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M7.16 14.56C4.74 16.18 4.74 18.82 7.16 20.43C9.91 22.27 14.42 22.27 17.17 20.43C19.59 18.81 19.59 16.17 17.17 14.56C14.43 12.73 9.92 12.73 7.16 14.56Z"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                          علیرضا درویشی
                        </span>
                      </div>
                    </div>
                    <p class="card-text font-light text-secondary text-justify mb-1">
                      دوره کالج یک کلاس است که توسط یک کالج یا دانشگاه ارائه می شود. این دوره ها معمولاً بخشی از برنامه ها
                    </p>
                    <a href="#" class="text-decoration-none d-block text-end my-2">ادامه خواندن...</a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4 px-3 my-3">
                <div class="card h-100 shadow-sm">
                  <div class="blog-img"><img src="./images/img-7.jpg" class="card-img-top p-2 rounded-8 fit-cover" alt="" /></div>
                  <div class="card-body pt-2 d-flex flex-column justify-content-between">
                    <div>
                      <h5 class="card-title font-black text-primary">تیتر بلاگ</h5>
                      <div class="d-flex align-content-center justify-content-between border-bottom pb-2 mb-2">
                        <span class="text-secondary font-light d-block pt-1"
                          ><svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24 0H0V24H24V0Z" />
                            <path
                              d="M22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2C17.52 2 22 6.48 22 12Z"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M15.71 15.18L12.61 13.33C12.07 13.01 11.63 12.24 11.63 11.61V7.51001"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                          23 اردیبهشت 1400</span
                        >
                        <span class="text-secondary font-light">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M12.16 10.87C12.06 10.86 11.94 10.86 11.83 10.87C9.45 10.79 7.56 8.84 7.56 6.44C7.56 3.99 9.54 2 12 2C14.45 2 16.44 3.99 16.44 6.44C16.43 8.84 14.54 10.79 12.16 10.87Z"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M7.16 14.56C4.74 16.18 4.74 18.82 7.16 20.43C9.91 22.27 14.42 22.27 17.17 20.43C19.59 18.81 19.59 16.17 17.17 14.56C14.43 12.73 9.92 12.73 7.16 14.56Z"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                          علیرضا درویشی
                        </span>
                      </div>
                    </div>
                    <p class="card-text font-light text-secondary text-justify mb-1">
                      دوره کالج یک کلاس است که توسط یک کالج یا دانشگاه ارائه می شود. این دوره ها معمولاً بخشی از برنامه ها
                    </p>
                    <a href="#" class="text-decoration-none d-block text-end my-2">ادامه خواندن...</a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4 px-3 my-3">
                <div class="card h-100 shadow-sm">
                  <div class="blog-img"><img src="./images/img-7.jpg" class="card-img-top p-2 rounded-8 fit-cover" alt="" /></div>
                  <div class="card-body pt-2 d-flex flex-column justify-content-between">
                    <div>
                      <h5 class="card-title font-black text-primary">تیتر بلاگ</h5>
                      <div class="d-flex align-content-center justify-content-between border-bottom pb-2 mb-2">
                        <span class="text-secondary font-light d-block pt-1"
                          ><svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24 0H0V24H24V0Z" />
                            <path
                              d="M22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2C17.52 2 22 6.48 22 12Z"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M15.71 15.18L12.61 13.33C12.07 13.01 11.63 12.24 11.63 11.61V7.51001"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                          23 اردیبهشت 1400</span
                        >
                        <span class="text-secondary font-light">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M12.16 10.87C12.06 10.86 11.94 10.86 11.83 10.87C9.45 10.79 7.56 8.84 7.56 6.44C7.56 3.99 9.54 2 12 2C14.45 2 16.44 3.99 16.44 6.44C16.43 8.84 14.54 10.79 12.16 10.87Z"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M7.16 14.56C4.74 16.18 4.74 18.82 7.16 20.43C9.91 22.27 14.42 22.27 17.17 20.43C19.59 18.81 19.59 16.17 17.17 14.56C14.43 12.73 9.92 12.73 7.16 14.56Z"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                          علیرضا درویشی
                        </span>
                      </div>
                    </div>
                    <p class="card-text font-light text-secondary text-justify mb-1">
                      دوره کالج یک کلاس است که توسط یک کالج یا دانشگاه ارائه می شود. این دوره ها معمولاً بخشی از برنامه ها
                    </p>
                    <a href="#" class="text-decoration-none d-block text-end my-2">ادامه خواندن...</a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4 px-3 my-3">
                <div class="card h-100 shadow-sm">
                  <div class="blog-img"><img src="./images/img-4.jpg" class="card-img-top p-2 rounded-8 fit-cover" alt="" /></div>
                  <div class="card-body pt-2 d-flex flex-column justify-content-between">
                    <div>
                      <h5 class="card-title font-black text-primary">تیتر بلاگ</h5>
                      <div class="d-flex align-content-center justify-content-between border-bottom pb-2 mb-2">
                        <span class="text-secondary font-light d-block pt-1"
                          ><svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24 0H0V24H24V0Z" />
                            <path
                              d="M22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2C17.52 2 22 6.48 22 12Z"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M15.71 15.18L12.61 13.33C12.07 13.01 11.63 12.24 11.63 11.61V7.51001"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                          23 اردیبهشت 1400</span
                        >
                        <span class="text-secondary font-light">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M12.16 10.87C12.06 10.86 11.94 10.86 11.83 10.87C9.45 10.79 7.56 8.84 7.56 6.44C7.56 3.99 9.54 2 12 2C14.45 2 16.44 3.99 16.44 6.44C16.43 8.84 14.54 10.79 12.16 10.87Z"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M7.16 14.56C4.74 16.18 4.74 18.82 7.16 20.43C9.91 22.27 14.42 22.27 17.17 20.43C19.59 18.81 19.59 16.17 17.17 14.56C14.43 12.73 9.92 12.73 7.16 14.56Z"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                          علیرضا درویشی
                        </span>
                      </div>
                    </div>
                    <p class="card-text font-light text-secondary text-justify mb-1">
                      دوره کالج یک کلاس است که توسط یک کالج یا دانشگاه ارائه می شود. این دوره ها معمولاً بخشی از برنامه ها
                    </p>
                    <a href="#" class="text-decoration-none d-block text-end my-2">ادامه خواندن...</a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4 px-3 my-3">
                <div class="card h-100 shadow-sm">
                  <div class="blog-img"><img src="./images/img.jpg" class="card-img-top p-2 rounded-8 fit-cover" alt="" /></div>
                  <div class="card-body pt-2 d-flex flex-column justify-content-between">
                    <div>
                      <h5 class="card-title font-black text-primary">تیتر بلاگ</h5>
                      <div class="d-flex align-content-center justify-content-between border-bottom pb-2 mb-2">
                        <span class="text-secondary font-light d-block pt-1"
                          ><svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24 0H0V24H24V0Z" />
                            <path
                              d="M22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2C17.52 2 22 6.48 22 12Z"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M15.71 15.18L12.61 13.33C12.07 13.01 11.63 12.24 11.63 11.61V7.51001"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                          23 اردیبهشت 1400</span
                        >
                        <span class="text-secondary font-light">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M12.16 10.87C12.06 10.86 11.94 10.86 11.83 10.87C9.45 10.79 7.56 8.84 7.56 6.44C7.56 3.99 9.54 2 12 2C14.45 2 16.44 3.99 16.44 6.44C16.43 8.84 14.54 10.79 12.16 10.87Z"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M7.16 14.56C4.74 16.18 4.74 18.82 7.16 20.43C9.91 22.27 14.42 22.27 17.17 20.43C19.59 18.81 19.59 16.17 17.17 14.56C14.43 12.73 9.92 12.73 7.16 14.56Z"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                          علیرضا درویشی
                        </span>
                      </div>
                    </div>
                    <p class="card-text font-light text-secondary text-justify mb-1">
                      دوره کالج یک کلاس است که توسط یک کالج یا دانشگاه ارائه می شود. این دوره ها معمولاً بخشی از برنامه ها
                    </p>
                    <a href="#" class="text-decoration-none d-block text-end my-2">ادامه خواندن...</a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4 px-3 my-3">
                <div class="card h-100 shadow-sm">
                  <img src="./images/img-7.jpg" class="card-img-top p-2 rounded-8 fit-cover" alt="" />
                  <div class="card-body pt-2 d-flex flex-column justify-content-between">
                    <div>
                      <h5 class="card-title font-black text-primary">تیتر بلاگ</h5>
                      <div class="d-flex align-content-center justify-content-between border-bottom pb-2 mb-2">
                        <span class="text-secondary font-light d-block pt-1"
                          ><svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24 0H0V24H24V0Z" />
                            <path
                              d="M22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2C17.52 2 22 6.48 22 12Z"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M15.71 15.18L12.61 13.33C12.07 13.01 11.63 12.24 11.63 11.61V7.51001"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                          23 اردیبهشت 1400</span
                        >
                        <span class="text-secondary font-light">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M12.16 10.87C12.06 10.86 11.94 10.86 11.83 10.87C9.45 10.79 7.56 8.84 7.56 6.44C7.56 3.99 9.54 2 12 2C14.45 2 16.44 3.99 16.44 6.44C16.43 8.84 14.54 10.79 12.16 10.87Z"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M7.16 14.56C4.74 16.18 4.74 18.82 7.16 20.43C9.91 22.27 14.42 22.27 17.17 20.43C19.59 18.81 19.59 16.17 17.17 14.56C14.43 12.73 9.92 12.73 7.16 14.56Z"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                          علیرضا درویشی
                        </span>
                      </div>
                    </div>
                    <p class="card-text font-light text-secondary text-justify mb-1">
                      دوره کالج یک کلاس است که توسط یک کالج یا دانشگاه ارائه می شود. این دوره ها معمولاً بخشی از برنامه ها
                    </p>
                    <a href="#" class="text-decoration-none d-block text-end my-2">ادامه خواندن...</a>
                  </div>
                  <div></div>
                  class="blog-img"
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4 px-3 my-3">
                <div class="card h-100 shadow-sm">
                  <div class="blog-img"><img src="./images/img-7.jpg" class="card-img-top p-2 rounded-8 fit-cover" alt="" /></div>
                  <div class="card-body pt-2 d-flex flex-column justify-content-between">
                    <div>
                      <h5 class="card-title font-black text-primary">تیتر بلاگ</h5>
                      <div class="d-flex align-content-center justify-content-between border-bottom pb-2 mb-2">
                        <span class="text-secondary font-light d-block pt-1"
                          ><svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24 0H0V24H24V0Z" />
                            <path
                              d="M22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2C17.52 2 22 6.48 22 12Z"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M15.71 15.18L12.61 13.33C12.07 13.01 11.63 12.24 11.63 11.61V7.51001"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                          23 اردیبهشت 1400</span
                        >
                        <span class="text-secondary font-light">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M12.16 10.87C12.06 10.86 11.94 10.86 11.83 10.87C9.45 10.79 7.56 8.84 7.56 6.44C7.56 3.99 9.54 2 12 2C14.45 2 16.44 3.99 16.44 6.44C16.43 8.84 14.54 10.79 12.16 10.87Z"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M7.16 14.56C4.74 16.18 4.74 18.82 7.16 20.43C9.91 22.27 14.42 22.27 17.17 20.43C19.59 18.81 19.59 16.17 17.17 14.56C14.43 12.73 9.92 12.73 7.16 14.56Z"
                              stroke="#6c757d"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                          علیرضا درویشی
                        </span>
                      </div>
                    </div>
                    <p class="card-text font-light text-secondary text-justify mb-1">
                      دوره کالج یک کلاس است که توسط یک کالج یا دانشگاه ارائه می شود. این دوره ها معمولاً بخشی از برنامه ها
                    </p>
                    <a href="#" class="text-decoration-none d-block text-end my-2">ادامه خواندن...</a>
                  </div>
                </div>
              </div>
              <!-- Pagination -->
              <nav aria-label="Page navigation">
                <ul class="pagination mt-5 justify-content-center">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
              <!--/ Pagination -->
            </div>
          </div>
        </section>
        <!--/ School blog -->

        <!-- Footer -->
        <footer class="pt-5 mt-10 position-relative">
          <div class="container">
            <div class="row mb-4">
              <div class="col-4">
                <h4 class="font-black my-4 text-white">لینک های سریع</h4>
                <ul class="ps-0">
                  <li class="my-3 ms-3 text-light position-relative">وبسایت شاد</li>
                  <li class="my-3 ms-3 text-light position-relative">دانلود مستقیم شاد</li>
                  <li class="my-3 ms-3 text-light position-relative">دسترسی به کارنامه ها</li>
                </ul>
              </div>
              <div class="col-4">
                <h4 class="font-black my-4 text-white">تماس با ما</h4>
                <ul class="ps-0">
                  <li class="my-3 ms-3 text-light position-relative">07138729482</li>
                  <li class="my-3 ms-3 text-light position-relative">kharazmi@info.com</li>
                  <li class="my-3 ms-3 text-light position-relative">09337856295</li>
                </ul>
              </div>
              <div class="col-4">
                <h4 class="font-black my-4 text-white">دسترسی سریع</h4>
                <ul class="ps-0">
                  <li class="my-3 ms-3 text-light position-relative">وبلاگ مدرسه</li>
                  <li class="my-3 ms-3 text-light position-relative">درباره ما</li>
                </ul>
              </div>
            </div>
            <div class="border-top pt-3 pb-2">
              <p class="text-center text-light">
                تمامی حقوق مادی و معنوی این وبسایت متعلق به هنرستان خوارزمی میباشد و هر گونه کپی برداری و سوءاستفاده پیگرد قانونی دارد.
              </p>
              <p class="text-center text-light">
                طراحی و توسعه با 🧡 و ☕ توسط
                <a href="#" class="text-white font-black text-decoration-none">علیرضا درویشی</a>
              </p>
            </div>
          </div>
        </footer>
        <!--/ Footer -->
      </body>
      <script src="./bootstrap/js/bootstrap.min.js"></script>
    </html>
  </body>
</html>
