<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.rtl.min.css" />
    <title>درباره ما</title>
    <script defer src="/js/app-ffbfe456f36267f13b08.js"></script>
    <link href="/styles/app-2940de3c8d4c5a1e20a6.css" rel="stylesheet" />
  </head>
  <body>
    <%- include("./includes/nav.ejs") %> <%- include('./includes/small-header.ejs') %>

    <section class="container mt-5 about">
     <div class="d-flex align-items-center justify-content-center flex-column">
        <img src="http://localhost:3000/images/gallery-notfound-3.png" alt="">
        <h5 class="text-secondary font-black my-5">تـاکـنـون تـصـویـری در گـالـری وبـسـایـت ثـبـت نـگـردیـده اسـت!</h5>
     </div>
    </section>

    <%- include("./includes/footer.ejs") %>
  </body>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
</html>
