<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="http://localhost:3000/images/kharazmi.png" type="image/x-icon">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.rtl.min.css" />
    <script defer src="/js/app.js.js"></script>
    <link href="/styles/app.css" rel="stylesheet" />
  </head>
  <body>
    <%- include("./includes/nav.ejs") %>
    <section class="container mt-10 py-5">
      <h1 class="font-black mb-5 text-center">ثبت نام به عنوان:</h1>
      <div class="d-flex align-items-center justify-content-center">
        <a href="/register?type=admin" class="mx-2 btn btn-outline-primary">مدیریت مدرسه</a>
        <a href="/register?type=teacher" class="mx-2 btn btn-outline-success">معلم</a>
        <a href="/register?type=user" class="mx-2 btn btn-outline-danger">افراد متفرقه</a>
      </div>
    </section>
    <%- include("./includes/footer.ejs") %>
  </body>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
</html>
