@font-face {
  font-family: vazir-black;
  src: url("../fonts/Vazir-Black-FD.ttf") format("truetype");
}
@font-face {
  font-family: vazir-bold;
  src: url("../fonts/Vazir-Bold-FD.ttf") format("truetype");
}
@font-face {
  font-family: vazir-medium;
  src: url("../fonts/Vazir-Medium-FD.ttf") format("truetype");
}
@font-face {
  font-family: vazir-regular;
  src: url("../fonts/Vazir-regular-FD.ttf") format("truetype");
}
@font-face {
  font-family: vazir-light;
  src: url("../fonts/Vazir-Light-FD.ttf") format("truetype");
}
@font-face {
  font-family: vazir-thin;
  src: url("../fonts/Vazir-thin-FD.ttf") format("truetype");
}
.font-black {
  font-family: vazir-black;
}
.font-bold {
  font-family: vazir-bold;
}
.font-medium {
  font-family: vazir-medium;
}
.font-regular {
  font-family: vazir-regular;
}
.font-light {
  font-family: vazir-light;
}
.font-thin {
  font-family: vazir-thin;
}
.text-justify {
  text-align: justify;
}
body {
  font-family: vazir-medium;
  font-size: 16px;
  direction: rtl;
}
.mt-10 {
  margin-top: 10em;
}
.rounded-8 {
  border-radius: 0.8rem;
}
.rounded-10 {
  border-radius: 1rem;
}
.fit-cover {
  object-fit: cover;
}
.tooltip {
  font-family: vazir-regular;
}
