.dashboard aside {
  height: 100vh;
}
.dashboard aside li.active a,
.dashboard aside li.active a::before,
.dashboard aside li.active a path {
  color: #0d6efd !important;
  stroke: #0d6efd;
  opacity: 1;
}
.dashboard aside li a {
  transition: color 0.4s;
}
.dashboard aside li a::before {
  position: absolute;
  content: "";
  right: -23px;
  z-index: 1000;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 30px;
  background: #0d6efd;
  border-radius: 100px;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}
.dashboard aside li a path {
  transition: stroke 0.4s;
}
.dashboard aside li a:hover {
  color: #0d6efd !important;
}
.dashboard aside li a:hover::before {
  opacity: 1;
}
.dashboard aside li a:hover path {
  stroke: #0d6efd;
}
.dashboard .profile-img {
  width: 75px;
  height: 75px;
}
.manage-gallery img {
  height: 250px;
}
.manage-gallery > div > div::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #222222b2;
  opacity: 0;
  transition: opacity 0.4s;
}
.manage-gallery div:hover::before {
  opacity: 1;
}
.manage-gallery div.btns {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.manage-gallery div:hover div.btns {
  display: flex;
}
