@font-face {
  font-family: vazir-black;
  src: url("../fonts/Vazir-Black-FD.ttf") format("truetype");
}
@font-face {
  font-family: vazir-bold;
  src: url("../fonts/Vazir-Bold-FD.ttf") format("truetype");
}
@font-face {
  font-family: vazir-medium;
  src: url("../fonts/Vazir-Medium-FD.ttf") format("truetype");
}
@font-face {
  font-family: vazir-regular;
  src: url("../fonts/Vazir-regular-FD.ttf") format("truetype");
}
@font-face {
  font-family: vazir-light;
  src: url("../fonts/Vazir-Light-FD.ttf") format("truetype");
}
@font-face {
  font-family: vazir-thin;
  src: url("../fonts/Vazir-thin-FD.ttf") format("truetype");
}
.font-black {
  font-family: vazir-black;
}
.font-bold {
  font-family: vazir-bold;
}
.font-medium {
  font-family: vazir-medium;
}
.font-regular {
  font-family: vazir-regular;
}
.font-light {
  font-family: vazir-light;
}
.font-thin {
  font-family: vazir-thin;
}
.text-justify {
  text-align: justify;
}
.mt-10 {
  margin-top: 10em;
}
.rounded-8 {
  border-radius: 0.8rem;
}
.rounded-10 {
  border-radius: 1rem;
}
.paragraph {
  line-height: 30px;
}
.shadow-md {
  box-shadow: 1px 1px 4px #ccc;
}
.fit-cover {
  object-fit: cover;
}
.title::before {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: #e7e7e7;
}
.title::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background: #0d6efd;
  animation: titleAnimation 2s forwards infinite cubic-bezier(1, 0, 0, 1);
}
@keyframes titleAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
li {
  list-style-position: inside;
}
textarea {
  resize: none;
}
input::placeholder,
textarea::placeholder {
  font-family: vazir-light;
  font-size: 14px;
}
select {
  font-size: 14px !important;
}
body {
  font-family: vazir-medium;
  font-size: 16px;
  direction: rtl;
}
.landing-header {
  background: url("../images/header.png") center bottom no-repeat;
  background-size: cover;
  height: 620px;
}
.landing-header p{
  line-height: 30px;
}
nav.navbar {
  width: calc(100% - 1rem);
  z-index: 10;
  top: 0.5rem;
}
.landing-header .services {
  width: 80%;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 40%);
}
.services .service {
  height: 200px;
  background: url("../images/box-bg.jpg") center;
  background-size: contain;
  transition: transform 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.services > div:nth-child(2) .service {
  transform: translateY(-15px);
}
.services .service:hover {
  transform: translateY(-15px);
}
.honors .card {
  transition: box-shadow 0.3s;
}
.honors .card {
  transition: 0.3s cubic-bezier(0.53, 0.51, 1, 1.61);
}
.honors .card:hover {
  box-shadow: 1px 2px 15px #ccc;
  transform: translateY(-5px);
}
.honors-area img {
  height: 200px;
}
.session-slider {
  background: url("../images/bg-blue.png");
  background-position: cover;
  height: 400px;
}
.session p {
  line-height: 30px;
}
.session img {
  width: 450px;
  height: 100%;
}
.session-slider .prev-slide {
  top: 85%;
  left: 20px;
}
.session-slider .next-slide {
  top: 85%;
  right: 92%;
}
.blogs .card {
  border: none;
}
.blogs .card img {
  height: 200px;
}
.blogs .card-body span {
  font-size: 13px;
}
.blogs .card-body a {
  font-size: 14px;
}
.blogs .card-body p {
  font-size: 14px;
}
.blogs .card {
  transition: 0.3s cubic-bezier(0.53, 0.51, 1, 1.61);
}
.blogs .card:hover {
  box-shadow: 1px 2px 15px #ccc;
  transform: translateY(-5px);
}
.masters-area .card .card-body {
  width: 80%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  transition: transform 0.4s;
}
.masters-area .card:hover .card-body {
  transform: translate(-50%, 60%);
}
.masters-area .master-img img {
  height: 250px;
}
.masters-area .card-body p {
  font-size: 14px;
}
.masters-area .master-img::before {
  position: absolute;
  content: "";
  height: 616px;
  left: 460px;
  top: -10em;
  width: 50px;
  transform: rotate(-45deg);
  background: #ffffff80;
  transition: left 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.masters-area .card:hover .master-img::before {
  left: -150px;
}
.contact-us form {
  width: 50%;
}
.contact-us form button {
  font-size: 14px;
}
footer::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background: url("../images/footer.png") center top no-repeat;
  background-size: cover;
  z-index: -1;
}
footer ul li {
  list-style: none;
  cursor: pointer;
  transition: color 0.3s;
}
footer ul li:hover {
  color: #6610f2 !important;
}
footer ul li:before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #f8f9fa;
  box-shadow: 0 0 6px #f8f9fa;
  transition: background 0.3s;
}
footer ul li:hover::before {
  background: #6610f2;
  box-shadow: #6610f2;
}
.next-slide {
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 10;
}
.prev-slide {
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  z-index: 10;
}
.signup-form {
  height: 600px;
  margin-top: 6.5em;
  width: 700px;
}
.login-form {
  height: 580px;
  width: 600px;
  margin-top: 6.5em;
}
.signup-form .form-img {
  background: linear-gradient(45deg, #3c41c6db, #575fcf8c), url("../images/pic.jpg") center no-repeat;
  background-size: cover;
  height: 200px
}
.login-form .form-img {
  background: linear-gradient(45deg, #3c41c6db, #575fcf8c), url("../images/pic-2.jpg") center no-repeat;
  background-size: cover;
  height: 200px
}
/*!---------------------- About page styles ---------------------- */
header.header-small {
  background: url("../images/header.png") bottom center no-repeat;
  background-size: cover;
  padding-top: 8em;
  height: 400px;
}
.about > div > p {
  line-height: 30px;
}
/*!---------------------- Blogs page styles ---------------------- */
.blogs-nav select {
  width: fit-content;
}
.blogs-nav .input-group {
  width: 450px;
}
.blogs-area .blogs > div {
  height: 400px;
}
.blogs-area .blogs > div img {
  height: 220px;
}
.blogs-area .blogs > div p {
  height: 50px;
  overflow: hidden;
  line-height: 28px;
}
/*!---------------------- Single Blogs page styles ---------------------- */
.blog {
  margin-top: 6em;
}
.blog .blog-img {
  height: 550px;
}
.blog .blog-img img {
  object-fit: cover;
}
.blog-info .blog-summery {
  line-height: 30px;
}
.blog .bloger-info .bloger-avatar {
  height: 75px;
  width: 75px;
  border-radius: 100%;
  padding: 0.3em;
}
.bloger-avatar img {
  object-fit: cover;
  border-radius: 100%;
}
.bloger-info p {
  font-size: 13px;
}
.blog-info .blog-feedbacks {
  font-size: 14px;
}
.blog-info .blog-feedbacks .likes {
  cursor: pointer;
}
