<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.rtl.min.css" />
    <link href="/styles/app.css" rel="stylesheet" />
  </head>
  <body>
    <section class="container d-flex flex-column align-items-center justify-content-center pt-5">
      <img src="http://localhost:3000/images/500.jpeg" class="fit-cover w-50" alt="">
      <h4 class="text-secondary font-black">خــطــایــی از ســمــت ســرور رخ داده اســت!</h4>
      <p class="text-secondary text-center font-light mt-2">کارشناسان ما خیلی زود به این مشکل رسیدگی خواهند کرد، اگر خیلی عجله داری میتونی باهامون تماس بگیری!</p>
      <a href="/#contact-us" class="btn btn-outline-primary">تماس با ما</a>
    </section>
  </body>
</html>
